.header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    /* padding: 0px 100px; */
    height: fit-content;
    padding-top: 30px;
    width: 100%;
}

.header-container.home {
    padding-bottom: 15px;
}

.header-container .user-info {
    display: flex;
    align-items: center;
    background-color: white;
}

.header-container .user-info {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    transition: .3s all;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    background-color: #f4a36142;
    border: 1px solid rgba(0, 0, 0, 0.04);
}

.header-container.home .user-info {
    background-color: #f4a3616c;
    color: white;
}

.header-container .user-info:hover {
    background-color: #f4a36142;
    border: 1px solid rgba(0, 0, 0, 0.04);
}

.header-container .user-image {
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-right: 12px;
}

.header-container .user-image img {
    width: 37px;
    height: 37px;
    border-radius: 7px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.226);
}

.header-container.home .logo-container img {
    filter: brightness(1);
}

.header-container .logo-container img {
    filter: brightness(.2);
}

.header-container.home .header-button {
    color: white;
}

.header-container.home .logo-container p {
    color: rgb(194, 194, 194);
}

.header-container .left-nav {
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.header-container .right-nav {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.header-container .left-nav .logo-container {
    margin-left: 20px;
}

.header-container .fa-pizza-slice {
    margin-left: -5px;
    margin-right: 1px;
}