.card {
  display: flex;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #C8C9CA;
  border-radius: 7px;
  cursor: pointer;
  width: 745px;
}

.card:not(:first-child) {
  margin-top: 15px;
}

.card .border {
  width: 100%;
  margin-bottom: 5px;
}

.card .content {
  margin: 20px;
  margin-right: 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.review-cards .stars-rating {
  height: 40px;
}

/* .card .res-image {
  width: 200px;
  height: 200px;
  border-radius: 7px;
} */

.card .star {
  display: flex;
}

.card .name-rate .rate {
  display: flex;
}

.card .name-rate .name {
  display: grid;
}

.card .name-rate .name h1 {
  font-size: 24px;
  font-weight: 400;
}

.card .name-rate .name h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 300;
  margin-top: -3px;
}

.card .name-rate .name .svg-inline--fa {
  margin-left: 3px;
  font-size: 14px;
}

.card .name-rate .name p {
  margin-top: -7px;
}

.card .name-rate .name p {
  font-size: 13px;
  font-weight: 400;
}

.card .line {
  margin-left: 26px;
  margin-top: 10px;
}

.card .name-rate {
  display: flex;
  justify-content: space-between;
<<<<<<< HEAD
  width: 495px;
=======
>>>>>>> development
}

.card .case {
  margin-left: 35px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-right: 5px;
}

.card .status-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  height: 48px;
}

.card .status {
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
  font-size: 12px;
}

.card .feedback {
  border: 1px solid #c6c6c6;
  direction: rtl;
  display: flex;
  border-radius: 5px;
  background-color: #f5f5f54d;
}

.card .feedback svg {
  margin-top: 5px;
  margin-right: 7px;
}

.card .feedback .feed {
  padding: 5px 7px;
}

.card .feedback>span {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 22px;
  /* or 220% */
  text-align: right;
  letter-spacing: 0.4px;
  color: #2D2E2F;
}

.hero-slider-wrapper {
  background-color: rgb(231, 231, 231) !important;
  border: 1px solid rgba(231, 231, 231, 0.375)
}

.card .share {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #4B4B4B;
  margin-left: 5px;
}

.service-name {
  margin: -6px 6px;
  font-size: 15px;
}

.pagination-container {
  margin-top: 30px;
}

.pagination-container .border {
  width: 100%;
  margin: 16px 0px;
}

.pagination {
  display: flex;
  justify-content: center;
  color: black;
}

.pagination p {
  color: rgb(53, 53, 53);
  margin: 0px 10px;
  font-size: 18px;
  font-weight: 400;
}

.pagination .pre,
.pagination .next {
  border: 0;
  position: static;
  background-color: transparent;
  color: black;
  font-weight: 600;
}

.next:hover {
  cursor: pointer;
}