.stars-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars-rating .fa-star.star-selected {
  color: orange;
}

.stars-rating .fa-star {
  transition: .3s all;
}

.stars-rating .fa-star.star-selected:hover {
  color: gold;
}

.stars-rating p {
  font-size: 13px;
  font-weight: 400;
  color: var(--gray);
  padding: 5px;
}