.modal-background-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.175);
    top: 0px;
    right: 0px;
}

.image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    width: 90%;
    position: absolute;
    z-index: 6;
    top: 0px;
    right: 0px;
    transform: translateX(-5.5%);
}

.image-slider img {
    object-fit: cover;
}

.image-slider .image-gallery {
    width: 100%;
}

.image-gallery-icon svg {
    transition: .3s all;
}

.image-gallery-icon:hover svg {
    color: #fb8500;
}


.image-slider .image-gallery-fullscreen-button {
    opacity: 0;
}

.image-slider .image-gallery-play-button {
    opacity: 0;
}

.image-slider .image-gallery-swipe {
    overflow: hidden;
    border-radius: 10px;
    background-color: #98653c21;
    border: 1px solid #c5855132;
    border-radius: 5px;
}

.image-slider .image-gallery-thumbnail-inner {
    border-radius: 10px;
}

.image-slider .image-gallery-content.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-slider .image-gallery-slide-wrapper.bottom {
    width: 100%;
    height: 80vh;
    margin-top: 2vh;
}

.image-slider .image-gallery-image {
    max-height: 80vh !important;
}

.image-slider .image-gallery-thumbnails-wrapper.bottom.thumbnails-swipe-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13vh;
    background-color: #98653c6e;
    border: 1px solid #c5855132;
    border-radius: 5px;
    margin-top: 2vh;
    margin-bottom: 2vh
}

.image-slider .image-gallery-thumbnails-wrapper.bottom.thumbnails-swipe-horizontal .image-gallery-thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.image-slider .image-gallery-thumbnails-wrapper.bottom.thumbnails-swipe-horizontal .image-gallery-thumbnails .image-gallery-thumbnails-container {
    height: 100%;
}

.image-gallery-thumbnail img {
    border: 3px solid transparent !important;
    border-radius: 5px;
    object-fit: cover;
}

.image-gallery-thumbnail.active img,
.image-gallery-thumbnail:focus img {
    border: 3px solid #ff9136 !important;
}

.image-gallery-thumbnails-container button {
    border: none;
    height: 100%;
    margin: 0px 5px;
}

.image-gallery-thumbnails-container button span {
    height: 100%;
}

.image-gallery-thumbnails-container button span img {
    height: 100%;
}

.image-gallery-thumbnails-container button:hover {
    border: none;
}

.image-slider .image-gallery-thumbnail.active {
    border: none;
}

.image-slider .image-gallery-thumbnail.active:hover {
    border: none;
}


.image-gallery-thumbnail.active img,
.image-gallery-thumbnail:focus img {
    border-radius: 2px;
}

.image-slider .image-gallery-thumbnail-inner img {
    border-radius: 3px;
}

.image-slider .image-gallery-thumbnails-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}